@using FormFlow.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FormFlow.Models.ViewModels.FormViewModel

<h2>Modify Form</h2>

<form method="patch" class="mt-4">
	<div class="row">
		<div class="col-6 px-3">
			<h4>Modify:</h4>
			<div class="mb-3">
				<label asp-for="Form!.Title">Title</label>
				<input required="required" asp-for="Form!.Title" class="form-control" />
				<span asp-validation-for="Form!.Title" class="text-danger"></span>
				<input type="hidden" asp-for="Form!.Id" value="@Model.Form!.Id"/>
			</div>
			<h4>Questions:</h4>
			<div id="questionContainer" class="mb-3">
				@for (var i = 0; i < Model.Form!.Questions!.Count; i++)
				{
					<div class="question-group mb-3">
						<div class="d-flex">
							<label asp-for="@Model.Form.Questions[i].Text" class="flex-grow-1">Question @(i + 1)</label>
							<button type="button" class="btn btn-danger remove-question-btn">Remove</button>
						</div>
						<input required="required" asp-for="@Model.Form.Questions[i].Text" class="form-control" value="@Model.Form.Questions![i].Text" />
                        <span asp-validation-for="@Model.Form.Questions[i].Text" class="text-danger"></span>
						
                        <label asp-for="Questions[i].Required" class="question-required-label">Required</label>
						<input type="checkbox" data-question-index="@i" class="required-checkbox" @(Model.Form.Questions[i].Required ? "checked" : "")  />
						
                        <div class="mb-3">
							<label asp-for="@Model.Form.Questions[i].Type" class="question-type-label">Type</label>
						</div>
						<input id="questionType_@(i)" asp-for="@Model.Form.Questions[i].Type" class="form-control" value="@Model.Form.Questions[i].Type" readonly="readonly" />
						@if (Model.Form.Questions[i].Type == QuestionType.MultipleOptions)
						{
							<div class="options-container">
								@for (var j = 0; j < Model.Form.Questions[i].Options!.Count; j++)
								{
									<div class="option-group">
										<div mb-3>
											<label asp-for="@Model.Form.Questions[i].Options" class="flex-grow-1 option-label">Option @(j + 1)</label>
											<button type="button" class="btn btn-danger remove-option-btn">Remove Option</button>
										</div>
										<input required="required" asp-for="@Model.Form.Questions[i].Options![j].Text" class="form-control" value="@Model.Form.Questions[i].Options![j].Text"/>
									</div>
								}
								<button type="button" class="btn btn-primary add-option-btn">Add Option</button>
							</div>
						}
					</div>
				}
				<button type="button" id="addQuestionBtn" class="btn btn-primary">Add Question</button>
			</div>
			<h4>Status:</h4>
			<div id="statusContainer" class="mb-3">
				@foreach (FormStatus status in Enum.GetValues(typeof(FormStatus)))
				{
					<div class="status-group mb-3">
						<input class="form-check-input" type="radio" name="Status" value="@status" id="status_@(status)" @(status == Model.Form.Status ? "checked" : "") />
						<label class="form-check-label" for="status_@(status)">
							@status
						</label>
					</div>
				}
			</div>
		</div>
	</div>
	@Html.ValidationMessageFor(model => model.Questions, "", new { @class = "text-danger" })
	@if (ViewBag.FormHasResponses)
	{
		<div class="popup">
			<span class="popuptext text-danger" id="formHasResponsesPopup">This form already has responses and will be added as a new one on form submission.</span>
		</div>
	}
	<button type="submit" id="submitBtn" class="btn btn-success float-end">Save</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@section Scripts {
	<script>
		$(document).ready(function () {
			var questionTypes = [];
			
			var questionIndex = @Model.Form!.Questions!.Count;
			var addQuestionBtn = $("#addQuestionBtn");

			addQuestionBtn.click(function () {
				var questionGroup = $("<div>")
					.addClass("question-group mb-3");
				var label = $("<label>")
					.attr("for", "Form_Questions_" + questionIndex + "__Text")
					.text("Question " + (questionIndex + 1));
				$("#questionContainer #questionValidationMsg").remove();


				var input = $("<input>")
					.attr("type", "text")
					.attr("name", "Form.Questions[" + questionIndex + "].Text")
					.attr("id", "Form_Questions_" + questionIndex + "__Text")
					.attr("required", "true")
					.addClass("form-control")
					.hide();

				var requriedHiddenInput = $("<input>")
					.attr("type", "hidden")
					.attr("name", "Form.Questions[" + questionIndex + ".Required")
					.val("true");

				var requiredCheckbox = $("<input>")
					.attr("type", "checkbox")
					.attr("name", "Form.Questions[" + questionIndex + "].Required")
					.attr("id", "Form_Questions_" + questionIndex + "__Required")
					.prop("checked", true)
					.change(function () {
						var isChecked = this.checked;
						var questionIndex = $(this).closest(".question-group").index();
						requiredList[questionIndex] = isChecked;
					});

				var requiredLabel = $("<label>")
					.attr("for", "Form_Questions_" + questionIndex + "__Requried")
					.addClass("question-required-label")
					.text("Requried");

				var validationMessage = $("<span>")
					.addClass("text-danger")
					.attr("data-valmsg-for", "Form.Questions[" + questionIndex + "].Text");

				var removeQuestionBtn = $("<button>")
					.attr("type", "button")
					.addClass("btn btn-danger btn-remove-question")
					.text("Remove")
					.click(function () {
						$(this).closest(".question-group").remove();
						updateQuestionIndexes();
					});

				questionGroup.append(label);
				questionGroup.append(input);
				questionGroup.append(validationMessage);
				questionGroup.append(removeQuestionBtn);

				// Add buttons for QuestionType
				var questionTypeButtons = $("<div>")
					.addClass("question-type-buttons");
				var questionTypeLabel = $("<label>")
					.text("Question Type:")
					.addClass("question-type-label");
				questionTypeButtons.append(questionTypeLabel);

				var questionTypeValues = @Html.Raw(Json.Serialize(Enum.GetNames(typeof(QuestionType))));
				for (var i = 0; i < questionTypeValues.length; i++) {
					var questionType = questionTypeValues[i];
					var questionTypeButton = $("<button>")
						.attr("type", "button")
						.attr("name", "Form.Questions[" + questionIndex + "].Type")
						.attr("value", questionType)
						.text(questionType.replace(/([A-Z])/g, " $1"))
						.addClass("btn btn-primary question-type-btn")
						.click(function () {
							var selectedQuestionType = $(this).val();
							questionTypes.push(selectedQuestionType);

							// Show corresponding input field based on the selected question type
							if (selectedQuestionType === "Mark") {
								$(this).closest(".question-group").find("input").show();
								$(this).closest(".question-group").find(".options-container").remove();
							} else if (selectedQuestionType === "MultipleOptions") {
								$(this).closest(".question-group").find("input").show();
								$(this).closest(".question-group").find(".options-container").remove();
								var optionsContainer = createOptionsContainer(questionIndex);
								$(this).closest(".question-group").append(optionsContainer);
								var errorSpan = $("<span>")
									.text("Multiple options require at least one option")
									.addClass("text-danger")
									.css("display", "none")
									.attr("id", "errorSpan");
								$(this).closest(".question-group").append(errorSpan);
							} else if (selectedQuestionType === "Open") {
								$(this).closest(".question-group").find("input").show().addClass("large-input");
								$(this).closest(".question-group").find(".options-container").remove();
							}

							$(this).closest(".question-group").find(".question-type-buttons").remove();
						});

					questionTypeButtons.append(questionTypeButton);
				}

				questionGroup.append(questionTypeButtons);
				questionGroup.append(requriedHiddenInput);
				questionGroup.append(requiredCheckbox);
				questionGroup.append(requiredLabel);

				questionGroup.insertBefore(addQuestionBtn);

				questionIndex++; // Increment questionIndex only when adding a new question
				updateQuestionIndexes();
			});

			$(document).on("click", ".remove-question-btn", function () {
				$(this).closest(".question-group").remove();
				updateQuestionIndexes();
			});

			$(document).on("click", ".remove-option-btn", function () {
				$(this).closest(".option-group").remove();
				updateOptionIndexes($(this).closest(".options-container"));	
			});

			$(".add-option-btn").click(function () {
				var optionsCount = $(this).closest(".options-container").find(".option-group").length;
				var newOptionIndex = optionsCount;

				var newOptionLabel = $("<label>")
					.attr("for", "Form_Questions_" + questionIndex + "__Options_" + newOptionIndex + "__Text")
					.text("Option " + (newOptionIndex + 1))
					.addClass("option-label");

				var newOptionInput = $("<input>")
					.attr("type", "text")
					.attr("name", "Form.Questions[" + questionIndex + "].Options[" + newOptionIndex + "].Text")
					.attr("id", "Form_Questions_" + questionIndex + "__Options_" + newOptionIndex + "__Text")
					.addClass("form-control")
					.attr("required", "true");

				var newRemoveOptionBtn = $("<button>")
					.attr("type", "button")
					.addClass("btn btn-danger remove-option-btn")
					.text("Remove Option")
					.click(function () {
						$(this).closest(".option-group").remove();
						updateOptionIndexes($(this).closest(".options-container"));
					});

				var newOptionGroup = $("<div>")
					.addClass("option-group mb-3");
				newOptionGroup.append(newOptionLabel);
				newOptionGroup.append(newOptionInput);
				newOptionGroup.append(newRemoveOptionBtn);

				$(this).closest(".options-container").append(newOptionGroup);
				updateOptionIndexes($(this).closest(".options-container"));
				$(this).closest(".question-group").find("#errorSpan").hide();
			});

			$("form").submit(function (event) {
				event.preventDefault();
				
				if	($(".question-group").length === 0) {
					if ($("#questionContainer #questionValidationMsg").length === 0) {
						var validationMessage = $("<span>")
							.addClass("text-danger")
							.attr("id", "questionValidationMsg")
							.text("At least one question is required.");

						$("#questionContainer").append(validationMessage);
					}
					return;
				}

				// Check if there is at least one options container
				var optionsContainers = $(".options-container");
				if (optionsContainers.length > 0) {
					// Iterate over each options container
					var errorExists = false;
					optionsContainers.each(function () {
						var optionGroups = $(this).find(".option-group");
						// Check if the options container contains at least one option group
						if (optionGroups.length === 0) {
							errorExists = true;
							var errorSpan = $(this).closest(".question-group").find("#errorSpan");
							if(errorSpan.length === 0) {
								errorSpan = $("<span>")
									.text("Multiple options require at least one option")
									.addClass("text-danger")
									.attr("id", "errorSpan");
								$(this).closest(".question-group").append(errorSpan);
							}
							errorSpan.show();
						}
					});

					if (errorExists) {
						// Show the error span and prevent form submission
						return;
					}
				}
				
				var formData = $(this).serializeArray();

				formData.push({ name: "type", value: questionTypes });

				$.ajax({
					url: "@Url.Action("Modify", "Form")",
					type: "PATCH",
					data: formData,
					success: function (response) {
						// Handle the success response
						// Redirect or show a success message
						window.location.href = "@Url.Action("Index", "Form")";
					},
					error: function (error) {
						// Handle the error response
						// Show an error message or take appropriate action
					}
				});
			});
		});

		function createOptionsContainer(questionIndex) {
			var optionsContainer = $("<div>")
				.addClass("options-container");

			var addOptionBtn = $("<button>")
				.attr("type", "button")
				.addClass("btn btn-primary add-option-btn")
				.text("Add Option");

			addOptionBtn.click(function () {
				var optionsCount = $(this).closest(".options-container").find(".option-group").length;
				var newOptionIndex = optionsCount;

				var newOptionLabel = $("<label>")
					.attr("for", "Form_Questions_" + questionIndex + "__Options_" + newOptionIndex + "__Text")
					.text("Option " + (newOptionIndex + 1))
					.addClass("option-label");

				var newOptionInput = $("<input>")
					.attr("type", "text")
					.attr("name", "Form.Questions[" + questionIndex + "].Options[" + newOptionIndex + "].Text")
					.attr("id", "Form_Questions_" + questionIndex + "__Options_" + newOptionIndex + "__Text")
					.addClass("form-control")
					.attr("required", "true");

				var newRemoveOptionBtn = $("<button>")
					.attr("type", "button")
					.addClass("btn btn-danger remove-option-btn")
					.text("Remove Option")
					.click(function () {
						$(this).closest(".option-group").remove();
						updateOptionIndexes($(this).closest(".options-container"));
					});

				var newOptionGroup = $("<div>")
					.addClass("option-group mb-3");
				newOptionGroup.append(newOptionLabel);
				newOptionGroup.append(newOptionInput);
				newOptionGroup.append(newRemoveOptionBtn);

				$(this).closest(".options-container").append(newOptionGroup);
				updateOptionIndexes($(this).closest(".options-container"));
				$(this).closest(".question-group").find("#errorSpan").hide();
			});

			optionsContainer.append(addOptionBtn);

			return optionsContainer;
		}

		function updateQuestionIndexes() {
			$(".question-group").each(function (questionIndex) {
				$(this).find("label:not(.question-type-label):not(.option-label):not(.question-required-label)").text("Question " + (questionIndex + 1));
				$(this).find("label:not(.question-type-label):not(.option-label):not(.question-required-label)").attr("for", "Form_Questions_" + (questionIndex) + "__Text");
				$(this).find('input[name^="Form.Questions["][name$="].Text"]:not([name*="Options"])')
					.attr("name", "Form.Questions[" + questionIndex + "].Text")
					.attr("id", "Form_Questions_" + questionIndex + "__Text");
				$(this).find('input[name^="Form.Questions["][name$="].Type"]')
					.attr("name", "Form.Questions[" + questionIndex + "].Type")
					.attr("id", "questionType_" + questionIndex);
				$(this).find(".options-container").each(function (optionIndex) {
					$(this).find('.option-group input[name*="].Text"]')
						.attr("name", "Form.Questions[" + questionIndex + "].Options[" + optionIndex + "].Text")
						.attr("id", "Form_Questions_" + questionIndex + "__Options_" + optionIndex + "__Text");
				});
				$(this).find('.question-required-label')
					.attr("for", "Form_Questions_" + questionIndex + "__Required");
			});
		}

		function updateOptionIndexes(optionsContainer) {
			var questionGroup = optionsContainer.closest(".question-group");
			var questionIndex = $(".question-group").index(questionGroup);

			optionsContainer.find(".option-group").each(function (index) {
				var optionGroup = $(this);
				var optionIndex = index;
				optionGroup.find("label").text("Option " + (optionIndex + 1));
				optionGroup.find("input")
					.attr("name", "Form.Questions[" + questionIndex + "].Options[" + optionIndex + "].Text")
					.attr("id", "Form_Questions_" + questionIndex + "__Options_" + optionIndex + "__Text");

				optionGroup.find(".remove-option-btn").off("click").on("click", function () {
					optionGroup.remove();
					updateOptionIndexes(optionsContainer);
				});
			});
		}

	</script>
}